/* Global background for all pages */
body {
    background-image: 
      linear-gradient(to right, rgba(43, 33, 0, 0.966), rgba(29, 20, 0, 0.911), rgb(0, 0, 0)),
      url('/images/bg-img.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }
  